tr {
    /*border-bottom: .1rem solid #555;*/
}

    tr:nth-child(even) {
        background-color: #B4D7EA;
    }

    tr:nth-child(odd) {
        background-color: #FFF;
    }

    thead {
        border-bottom: .25rem solid #000;
    }

td.amount:before {
    content: "$";
}

.sticky-col {
    position: -webkit-sticky;
    position: sticky;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    left: 0px; /* Don't collapse */
}

.over_budget {
    font-weight: 600;
    color: #C66937;
}

.on_budget {
    font-weight: 500;
    color: #4DC637;
}


th {
    background-color: #3794C6;
    text-align: center;
}

th, td {
    border-right: .1rem solid #555;
    border-left: .1rem solid #555;
}

td {
    background-color: inherit !important
}
